PRETTY_NAME="{{PRETTY_NAME}}"
NAME="{{NAME}}"
VERSION={{VERSION}}
VERSION_CODENAME="{{VERSION_CODENAME}}"
ID={{ID}}
VERSION_ID={{VERSION}}
VARIANT={{VARIANT}}
HOME_URL="{{HOME_URL}}"
SUPPORT_URL="{{SUPPORT_URL}}"
BUG_REPORT_URL="{{BUG_REPORT_URL}}"
