[Unit]
Description=Simple Splash Service
After=rc-local.service systemd-user-sessions.service getty.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pkill fbi

[Install]
WantedBy=multi-user.target
